<% title "About..." %>

<section class="about">
  <div class="container-about">

    <div class="card-about">
      <div class="about-header-image">
      </div>
      <div class="card-body text-center">
        <%= image_tag("aboutMe/about_me_selfie.jpg", class: 'avatar rounded-circle') %>
        <div class="card-about-content">
          <h5 class="about_me_card-title">Slawomir Malczewski</h5>
          <h6 class="about_me_card-subtitle text-muted">Photographer / Dublin</h6>
          <p class="about_me_card-text">
            So here I am, my name is Slawomir Malczewski and I come from Poland. Currently I live in Dublin (since June 2014) where I work, study Information Systems and Information Technology at Technological University Dublin and in my free time try to improve my photography skills.
            My adventure with photography started in 2012 when I bought my first DSLR camera (Nikon D7000).
          </p>
          <div class="border-top my-2">
          </div>
          <p class="about_me_card-subtitle mb-1 text-muted" ><i class="fa fa-envelope"></i> slawekmalczewski@hotmail.co.uk</p>
        </div>
      </div>
    </div>

  </div>

</section>
