<% title "About..." %>

<body class="aboutMeCover">

  <div class="container-fluid">
    <div class="row mt-5 pt-5 ml-4 mr-4">
      <div class="col-md-6 offset-md-6">
        <h1 class="display-4 text-center font-weight-bold">Slawomir Malczewski</h1>
        <p class="lead text-center">This is something about me</p>
        <hr class="my-4">
      </div>
    </div>

    <div class="row mt-2 ml-4 mr-4">
      <div class="col-md-6 offset-md-6 semiTransparent rounded pt-5 pb-3">
        <p class="lead">
          Well, the most difficult part is to present ourselves so that visitors would like to stay here a bit longer :)
          So here I am, my name is Slawomir Malczewski and I come from Poland, currently I live in Dublin (since 6th of June 2014) where I work, study Information Systems and Information Technology at Dublin Institute of Technology and in my free time try to improve my photography skills.
          My adventure with photography started in 2012 when I bought my first DSLR camera (Nikon D7000)
        </p>
      </div>
    </div>

  </div>

</body>
