<% title "About..." %>

<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-xs-2 col-sm-2 col-md-4 col-lg-5">

    </div>
      <div class="col-xs-8 col-sm-9 col-md-7 col-lg-7">
        <div class="card" style="height: 70rem; overflow-y:scroll;">
          <%= image_tag("aboutMe/about_me_header_img.jpg", class: 'img-responsive card-img-top') %>
          <div class="card-body text-center">
            <%= image_tag("aboutMe/about_me_selfie.jpg", class: 'avatar rounded-circle') %>
            <div class="card-body text-center">
              <h4 class="about_me_card-title">Slawomir Malczewski</h4>
              <h6 class="about_me_card-subtitle mb-2 text-muted">Photographer / Dublin</h6>
              <p class="about_me_card-text">
                So here I am, my name is Slawomir Malczewski and I come from Poland. Currently I live in Dublin (since June 2014) where I work, study Information Systems and Information Technology at Technological University Dublin and in my free time try to improve my photography skills.
                My adventure with photography started in 2012 when I bought my first DSLR camera (Nikon D7000).
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
              <div class="border-top my-3">
              </div>
              <p class="about_me_card-subtitle mb-1 text-muted" ><i class="fa fa-envelope"></i> slawekmalczewski@hotmail.co.uk</p>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="row" style="height:20px; margin-top:10px;">

  </div>
</div>
