      <div class="row">
        <div class="col-12">
          <%= comment.user.first_name + " " + comment.user.last_name + " commented:"%>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 ml-5 font-italic">
          <%= comment.content %>
        </div>
      </div>

      <div class="row text-right">
        <div class="col-12 small mt-3 mb-1">
          <%= local_time(comment.created_at, '%d %b, %Y %H:%M') %>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <hr class="separationLine3">
        </div>
      </div>
