<div class="row">
  <div class="col-12 font-weight-bold mb-2">
    <%= comment.name %>
  </div>
</div>

<div class="row">
  <div class="col-md-10 ml-5 font-italic">
    <%= comment.commentText %>
  </div>
</div>

<div class="row text-right">
  <div class="col-9">
  </div>
  <div class="col-3 mt-3 mb-1">
      <%= comment.created_at %>
  </div>
</div>

<% if is_admin? %>
  <div class="row">
    <div class="col-9">
    </div>
    <div class="col-3">
      <%= link_to 'Delete', [comment.post, comment], method: :delete, class: "btn btn-block btn-danger font-weight-bold", data: { confirm: "Are you sure?" } %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-12">
    <hr class="separationLine3 mb-3">
  </div>
</div>
