<div class="container">
  <h1>Edit Post Category</h1>

  <%= link_to("Back", {:action => 'index'}, :class => "btn btn-info", :style=>"margin:10px 0; padding:0.5rem 3rem;" ) %>

    <%= form_for(:post_category, :url => {:action => 'update', :id => @post_category.id}) do |field| %>
    <%= render(:partial => "form", :locals => {:field => field}) %>
    <%= submit_tag("Update", :class => "btn btn-primary") %>

  <% end %>
</div>
