<h1>Post Category</h1>

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class = "card-header">
        <h2><%= @post_category.postcategoryname %></h2>
      </div>
      <div class="card-body">
        <h5 class="card-subtitle mb-2 text-muted"><%= @post_category.created_at %></h5>
        <p class="card-text h3"><%= @post_category.PostCategory_Description %></p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>
</div>
