<% title "Photomap |" %>

<%= render 'shared/photomap_headers' %>
<% title "Photomap |" %>
<div id="page-content-wrapper">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-4">
        <table class="table table-bordered table-striped mt-1 admin-table">
          <thead>
            <tr>
              <th class="align-middle text-center table-header-text w-50">Photo Title</th>
              <th class="align-middle text-center table-header-text w-50">Gallery</th>
            </tr>
          </thead>
          <tbody>
            <% @photomarkers.each do |photomarker| %>
            <tr>
              <td class="span1 align-middle text-center"><%= photomarker.myPhotoTitle %></td>
              <td class="span2 align-middle text-center"><%= find_gallery_title(photomarker.photo_gallery_id) %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-md-8">
        <%= tag.div nil, id: 'map', data: { photomarkers: @photomarkers.to_json(methods: [:address, :get_image_link])} %>
      </div>

    </div>

  </div>


</div>

<!-- Close Administration nav -->
</div>
