<% title "Photomap |" %>

<%= render 'shared/photomap_headers' %>
<% title "Photomap |" %>

<section id="photomap">
  <div class="photomap-container">
    <%= tag.div nil, id: 'map', data: { photomarkers: @photomarkers.to_json(methods: [:address, :get_image_link])} %>
  </div>

</section>





<!-- Close Administration nav -->
</div>
