<% title "Delete User" %>

<div class="container">
  <div class="row align-items-center" style="height: 70vh;">
    <div class="col-md-10 mx-auto my-auto">
      <div class ="alert alert-light mx-auto mt-5" role="alert">
        <h1 class="alert-heading text-white bg-danger p-3 text-center">You are going to remove the following User: <%= @user.first_name + " " + @user.last_name %></h1>
        <hr class="separationLine1">
        <br/>
        <h2 class="alert-heading text-center display-4">Are you sure ???</h2>
        <div class="form-group d-flex row bg-dark mx-auto mt-5 p-3 w-100 justify-content-end">
          <%= link_to("Back", :back, :class => "btn btn-lg btn-info pull-right ml-2") %>
          <%= button_to("Delete", {:action => 'confirm_deletion', :id => @user.id}, method: :post, :class => "btn btn-lg btn-danger pull-right ml-2") %>
        </div>
      </div>

    </div>

  </div>
</div>

</div>
