<% title "Create Post"%>

<div id="page-content-wrapper">
  <div class="container-fluid">

      <h1>Write a new Post</h1>

      <%= form_for(:post, :url => {:action => 'create'}) do |field| %>
      <%= render(:partial => "form", :locals => {:field => field}) %>


      <%= submit_tag("Create", :class => "btn btn-lg btn-success pull-right ml-2") %>
      <%= link_to("Back", :back, :class => "btn btn-lg btn-info pull-right ml-2") %>
      <% end %>
  </div>

</div>
