/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
*= require trix
*= require_tree .
*= require_self

 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "footer";
@import "navbar";
@import "publicArticles";
@import "fullscreenslider";
@import "lightbox";
@import "galleryImageGrid";
@import "gritter";

hr.separationLine1 {
  border : 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

hr.separationLine2 {
  border : 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.60), rgba(255, 255, 255, 0));
}

/*
Add a scroll bar when writing a long posts-articles on the bootstrap card-body
*/

.scroll-box {
    overflow-y: scroll;
    height: 100px;
}
