/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
*= require trix
*= require_tree .
*= require_self

 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'bootstrap-datetimepicker';
@import "fullscreenslider";
@import "lightbox";
@import "galleryImageGrid";
@import "gritter";

/*
Typography Settings START
*/
html, .root {
  font-size: 18px;
  line-height: 27px;
}
body, .article {
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: auto;
}
h1, .h1 {
  font-size: 4.2222222rem;
  line-height: 4.5rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}
h2, .h2 {
  font-size: 2.6111111rem;
  line-height: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
h3, .h3 {
  font-size: 1.6111111rem;
  line-height: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}
h4, .h4 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}
h5, .h5 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 0rem;
  margin-bottom: 1.5rem;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

/*
Typography Settings END
*/






hr.separationLine1 {
  margin: 3px 0;
  border : 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

hr.separationLine2 {
  border : 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.60), rgba(255, 255, 255, 0));
}

hr.separationLine3 {
  border-top: 3px double #8c8b8b;
  margin-bottom: 30px;
}

/*
Add a scroll bar when writing a long posts-articles on the bootstrap card-body
*/

.scroll-box {
    overflow-y: scroll;
    height: 100px;
}

/*
Custom Styles for Devise module
*/
.log_in_card{
  max-width: 350px;
  margin: 10% auto auto auto;
  padding: 12px;
}

.log_in_card a {
  color: black;
  margin: 12px 0 12px 0;
}

.card-block{
  text-align: left;
  font-size: 1.2vh;
}



/*
Maps styling chapter
*/



/*
Custom Input Group used mainly for properly displaying calendar icon in the Edit Metada form
*/
.custom-input-group {
  width: auto;
}

/*
Change navbar breakpoints
*/

// Flex Container for displaying cards
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 50px;
}
