// Place all the styles related to the Artworks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// stylesheet for the administrators Section

.admin-artwork-panel-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.admin-gallery-panel-grid-set {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: auto;
  grid-template-areas:
  "page-title-header"
  "button-section"
  "table-section"
  "pagination-section";
  grid-gap: 30px 30px;

  h1 {
    font-size: 4.5rem;
    font-weight: 500;
  }

  .label-info {
    font-size: 1.5rem;
  }


}

.page-title-header {
  grid-area: page-title-header;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-section {
  grid-area: button-section;
  display: flex;
  justify-content: center;

  .custom {
    width: auto;
    height: auto;
    margin: 0 10px 0 10px;
  }
}

.table-section {
  grid-area: table-section;
}

.pagination-section {

}
