.footer-distributed {
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	padding: 15px 10px;
	//margin-top: 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: center;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 45%;
	vertical-align: top;
	margin-top: 15px;
}


/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	padding: 0;

}

.footer-distributed .footer-links a{
	display:inline-block;
	text-decoration: none;
	color:  inherit;
	margin-left: 10px;
	margin-right: 10px;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	margin: 0;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 45%;
	vertical-align: top;
	margin-top: 15px;
}

.footer-distributed .footer-other-platforms{
	color:  #92999f;
	margin: 0;
}

.footer-distributed .footer-other-platforms span{
	display: block;
	color:  #ffffff;
}

.footer-distributed .footer-icons{
	margin-top: 20px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}
