.myNavbar {
  border-radius: 0;
  margin-bottom: 0;
  // height: 6vh;
  min-height: 5%;
}


// Menu font size for small mobile devices in landscape mode up
@media screen and (max-width: 479px) {
  .nav-link {
    font-size: 14px;
  }
  .navbar-nav > li {
    width: auto;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
  }
}

// Menu font size for mobile devices in landscape mode up
@media screen and (min-width: 480px) {
  .nav-link {
    font-size: 14px;
  }
  .navbar-nav > li {
    width: auto;
    margin-right: 1.25vw;
    margin-left: 1.25vw;
    margin-top: auto;
  }
}

// Menu font size for tablets in portrait mode and up
@media screen and (min-width: 600px) {
  .nav-link {
    font-size: 15px;
  }
  .navbar-nav > li {
    margin:auto;
  }
}

// Menu font size for tablets in landscape mode and up
@media screen and (min-width: 768px) {
  .nav-link {
    font-size: 16px;
  }
  .navbar-nav > li {
    width: auto;
    align-items: center;
    margin-right: 1.25vw;
    margin-top: auto;
    justify-content: flex-end;
  }
}

// Menu font size for desktop view
@media screen and (min-width: 1024px) {
  .nav-link {
    font-size: 21px;
  }
  .navbar-nav > li {
    width: auto;
    margin-right: 1.25vw;
    margin-left: 1.25vw;
    margin-top: auto;
  }
}

/*
Custom Styles for authentication links in the menu - login,register,logout,admin panel
*/

.nav-link-auth a {
  color:rgba(255,255,255,.5);
  text-decoration: none;
}

.nav-link-auth a:hover {
  color:#f8f9fa;
  text-decoration: none;
}

.brandLogo {
  margin-top: 2%;
  height: 80%;
}
