// Place all the styles related to the photo_galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Gallery Index page
.photo-gallery-content-layout {
  width: 100%;
  margin: 2rem auto 2rem auto;
  display: grid;
  row-gap: 50px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  justify-items: center;

  .card {
    justify-self: center;
  }
}

.gallery-content-container .gallery-introduction p {
  margin-top: 1.75rem;
}


.gallery-content-container {
  width: 100%;
  margin: 2rem auto 2rem auto;
  display: grid;
  row-gap: 50px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  justify-items: center;
}

.gallery-content-container .gallery-introduction {
  grid-column: 1 / span 3;
  padding: 50px;
}

.gallery-desc {
  font-size: 1rem;
  font-weight:normal;
}


// Media Queries

/* Small devices (up to 576px) */
@media only screen and (max-width: 576px) {
  .photo-gallery-content-layout {
    width: 100%;
    margin: 2rem auto 2rem auto;
    display: grid;
    row-gap: 50px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto auto auto;
    justify-items: center;

    .card {
      width: 320px;
      justify-self: center;
    }
  }

  .gallery-content-container {
    width: 100%;
    margin: 2rem auto 2rem auto;
    display: grid;
    row-gap: 50px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto auto auto;
    justify-items: center;
  }

  .gallery-content-container .gallery-introduction {
    grid-column: 1;
    padding: 50px;
  }

  .gallery-desc {
    font-size: 0.85rem;
    font-weight:normal;
  }

}


/* Medium devices (between 577px and 768px) */
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .photo-gallery-content-layout {
    width: 100%;
    margin: 2rem auto 2rem auto;
    display: grid;
    row-gap: 50px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
    justify-items: center;

    .card {
      width: 320px;
      justify-self: center;
    }
  }

  .gallery-content-container {
    width: 100%;
    margin: 2rem auto 2rem auto;
    display: grid;
    row-gap: 50px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto auto auto;
    justify-items: center;
  }

  .gallery-content-container .gallery-introduction {
    grid-column: 1;
    padding: 50px;
  }

  .gallery-desc {
    font-size: 0.85rem;
    font-weight:normal;
  }
}


/* Large devices (between 769px and 992px) */
@media only screen and (min-width: 769px) and (max-width: 1199px) {
  .photo-gallery-content-layout {
    width: 100%;
    margin: 2rem auto 2rem auto;
    display: grid;
    row-gap: 50px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
    justify-items: center;

    .card {
      justify-self: center;
    }
  }

  .gallery-content-container {
    width: 100%;
    margin: 2rem auto 2rem auto;
    display: grid;
    row-gap: 50px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
    justify-items: center;
  }

  .gallery-content-container .gallery-introduction {
    grid-column: 1 / span 2;
    padding: 50px;
  }

  .gallery-desc {
    font-size: 0.85rem;
    font-weight:normal;
  }
}

/* X-Large devices (min width 1200px) */
@media only screen and (min-width: 1200px) {
  .photo-gallery-content-layout {
    width: 100%;
    margin: 2rem auto 2rem auto;
    display: grid;
    row-gap: 50px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    justify-items: center;

    .card {
      justify-self: center;
    }
  }
}
