// Place all the styles related to the photo_galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page-container {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-rows: 30% auto auto;
  grid-row: 2 / span 3;
}

.header-container {
  display: block;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.gallery-header {
  width: 60vw;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.gallery-display-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.gallery-display {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem 2rem;
  margin-bottom: 5rem;
  padding: 1rem;
  justify-content: center;
}

.gallery-desc {
  font-size: 1rem;
  font-weight:normal;
}



// Media Queries

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
  .gallery-display {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem 2rem;
    margin-bottom: 5rem;
    padding: 1rem;
    justify-content: center;
  }

  .gallery-header {
    width: 80vw;
  }

  .gallery-header h2 {
    font-size: 1.5rem;
    margin-bottom: -10px;
  }

    .gallery-desc {
      font-size: 0.85rem;
      line-height: 1.25rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 769px) {
  .gallery-display {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem 2rem;
    margin-bottom: 5rem;
    padding: 1rem;
    justify-content: center;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .gallery-display {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem 2rem;
    margin-bottom: 5rem;
    justify-content: center;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
