// Place all the styles related to the photo_galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gallery-desc {
  font-size: 1.75rem;
  font-weight:300;
}

.card {
  min-height: 400px;
  max-height: 400px;
  max-width: 350px;
}
