// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "gritter";

@import "color_schema.scss";


.pill-category {
  --photography-category: #f99500;
  --technology-category: #fa66be;
  display: inline-block;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  padding: 0.4rem 0.6rem;
  border-radius: 15px;
  margin-bottom: 0.5rem;
}


// Reset Browser deafult setting
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.overall-container {
  background-color: #f3f3f3;
}


// showcase
.article-showcase {
  color: #fff;
  width: 100%;
  height: 400px;
  position: relative;
  top: 0;
  left: 0;
}

.article-showcase:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.article-header-img {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
  }
}

.article-showcase-data {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .article-data-box {
    width: 650px;
    max-width: 650px;
    max-height: 350px;
    background: rgba(0, 0, 0, 0.55);
    color:white;
    padding: 2rem;
    border-radius: 10px;
  }
}


.photography-category { background: var(--photography-category)}

// Article card
#post-articles {
  margin: 3rem 0;
}


#post-articles .articles-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  max-width: var(--my-max-width);
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.article-card-1 {
  background: #fff;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1 / span 2;
  border-radius: 8px;
  grid-gap: 1rem;
}

.article-card-1 .card-text-content,
.article-card-1-reverse .card-text-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article-card-1-reverse {
  background: #fff;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 2 / span 2;
  border-radius: 8px;
  grid-gap: 1rem;
}

.article-card-2 {
  padding: 1rem;
  border-radius: 8px;
  height: auto;
  color: #fff;
}

.article-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.article-card-bg-1 {
  background-color: $my-primary-color;
  color: white;
}

.article-card-bg-2 {
  background-color: $my-secondary-color;
  color: white;
}

.article-card-bg-3 {
  background-color: $my-third-color;
  color: white;
}

.article-card-bg-4 {
  background-color: $my-fourth-color;
  color: white;
}


.article-card-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.article-card-1 .i-data,
.article-card-1-reverse .i-data,
.article-card-2 .i-data {
  font-size: 0.7rem;
  margin-bottom: 1rem;
  font-style: italic;
}


.article-button {
  font-size: 0.75rem;
  font-weight: bold;
  display: inline-block;
  width: 100%;
  height: auto;
  background-color: #4CAF50;
  border-radius: 5px;
  color: white;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
}

.article-button a {
  text-decoration: none;
  color: white;
}

.article-button:hover {
  background-color: #3e8e41;
  text-decoration: none;
  color: white;
}

.article-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  align-content: flex-end;
}

.page-pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}


//CSS for Article Show Section - START

// Reset Browser deafult setting
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  position: relative;
  width: 100%;
  height: 40vh;
  margin-bottom: 10px;
  z-index: -10;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);

}

.articleHeader {
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero-content {
  position:absolute;
  text-align: center;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  color:white;
}

.article-container-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
}

.article-container-flex > article {
  font-size: 0.9rem;
  padding: 10px;
  max-width: 600px;
}

.article-data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  background-color: #f9f7e2;
}

.article-data-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 600px;
  max-width: 600px;
  font-size: 0.7rem;
  padding: 10px;
  text-align: right;
}



.attachment-container-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.attachment-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  max-width: 250px;
  height: 325px;
  max-height: 325px;
  background-color: #2d2a29;
  border-radius: 8px;
  margin: 15px 15px;
  -webkit-box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.43);
  -moz-box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.43);
  box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.43);
}

.attachment-card-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.attachment-card h5 {
  margin: 0 0 0 0;
  font-size: 1.15rem;
  font-weight: bold;
  color: #ffffff;
}

.attachment-card-fileThumbnail {
  width: 90%;
  height: 150px;
  margin: 1rem auto 1rem auto;
}

.attachmentFileThumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.attachment-file-name {
  margin: 0 0 0 0;
  padding: 0 0.5rem 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  color: #ffffff;
  word-wrap: break-word;

}


//CSS for Article Show Section - END

// MEDIA QUERY
@media(max-width: 780px) {
  .article-showcase {
    display: none;
  }

  #post-articles .articles-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    padding: 15px;
  }

  #post-articles .articles-container .article-card-1,
  #post-articles .articles-container .article-card-1-reverse,{
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / span 2;
  }
}


@media(max-width: 600px) {
  .article-showcase {
    display: none;
  }

  #post-articles .articles-container
   {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 1;
    grid-gap: 1rem;
    padding: 15px;
  }

  #post-articles .articles-container .article-card-1,
  #post-articles .articles-container .article-card-1-reverse,{
    grid-template-columns: 1fr;
    grid-column: 1;
  }

  .article-card-1 .i-data,
  .article-card-1-reverse .i-data,
  .article-card-2 .i-data {
    font-size: 0.6rem;
    margin-bottom: 0.75rem;
    font-style: italic;
  }
}

@media(max-width: 480px) {
  .article-container-flex {
    padding: 0 25px;
  }
  .article-container-flex article {
    font-size: 0.75rem;
  }

  .article-data .article-data-content {
    font-size: 0.6rem;
  }

}

// stylesheet for the administrators Section

.admin-post-panel-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.admin-post-panel-grid-set {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: auto;
  grid-template-areas:
  "page-title-header"
  "button-section"
  "table-section"
  "pagination-section";
  grid-gap: 30px 30px;

  h1 {
    font-size: 4.5rem;
    font-weight: 500;
  }

  .label-info {
    font-size: 1.5rem;
  }


}

.page-title-header {
  grid-area: page-title-header;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-section {
  grid-area: button-section;
  display: flex;
  justify-content: center;

  .custom {
    width: auto;
    height: auto;
    margin: 0 10px 0 10px;
  }
}

.table-section {
  grid-area: table-section;
}

.pagination-section {

}
