// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Reset Browser deafult setting
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  position: relative;
  width: 100%;
  height: 40vh;
  margin-bottom: 10px;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);

}

.articleHeader {
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -100;
}

.hero-content {
  position:absolute;
  text-align: center;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  color:white;
}

.article-container-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
}

.article-container-flex > article {
  font-size: 0.9rem;
  padding: 10px;
  max-width: 600px;
}

.article-data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
}

.article-data-content {
  width: 600px;
  max-width: 600px;
  font-size: 0.7rem;
  padding: 10px;
  text-align: right;
}


.attachment-container-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.attachment-card {
  width: 200px;
  max-width: 200px;
  height: 250px;
  max-height: 250px;
  background-color: #2d2a29;
  border-radius: 8px;
  margin: 15px 15px;
  -webkit-box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.43);
  -moz-box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.43);
  box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.43);
}

.attachment-card h5 {
  font-size: 1rem;
  color: #ffffff;
  padding: 15px;
  text-align: center;
}

.attachment-container-flex .attachment-card p {
  font-size: 0.8rem;
}

.attachment-file-name {
  font-size: 0.8rem;
  color: #ffffff;
  padding: 15px;
  word-wrap: break-word;
}
