<% title "Gallery | "+@gallery.gallerytitle %>

<div class="page-wrapper">

  <section class="gallery-content-container">
    <div class="gallery-introduction">
      <h2><%= @gallery.gallerytitle %></h2>
      <p class="gallery-desc"><%= @gallery.galleryDescription %></p>
    </div>

      <% sort_gallery_by_photo_position(@gallery.myPhotos.published).each do |photo| %>
      <div class="overlay-container" data-overlay-text="<%= photo.myPhotoTitle %>">
        <%= link_to image_tag(photo.myPhotograph, :class => "image-inside overlay-img"), photo.myPhotograph, data: {lightbox: 'roadtrip', title: photo.myPhotoTitle+photo.myPhotoDescription}%>
      </div>
      <% end %>

  </section>

</div>


<script>
    lightbox.option({
      'resizeDuration': 200,
      'wrapAround': true,
      'fitImagesInViewport': true
    })
</script>
